@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/zapfino');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* || VARIABLES */
:root {
    /* FONTS */
    --FF: 'Lato', sans-serif;
    --HEADER-FW: 600;

    /* COLORS */
    --WSM: whitesmoke;
    --BLACK: #000;
    --LIGHT-BLACK: #333;
    --DARK-GREY: #666;
    --LIGHT-GREY: #ddd;
    --NAVY-BLUE: #051650;
    --NAVY-BLUE-FD: #05165090;

    /* HEADER */
    --HEADER-HEIGHT: 8vh;
    --HEADER-TBMARGIN: 0;
    --HEADER-LRMARGIN: 10vw;
    --HEADER-MARGIN: var(--HEADER-TBMARGIN) var(--HEADER-LRMARGIN);

    /* MAIN */
    --MAIN-TBMARGIN: 5vh;
    --MAIN-LRMARGIN: 10vw;
    --MAIN-MARGIN: var(--MAIN-TBMARGIN) var(--MAIN-LRMARGIN);
    --MAIN-HEIGHT: 75vh;
    --MAIN-GAP: 3vh;
    --MAIN-ARTICLE-WIDTH: 50vw;

    --MAIN-PORTRAIT-WIDTH: 25vw;
    --MAIN-PORTRAIT-HEIGHT: 55vh;

    /* FOOTER */
    --FOOTER-MARGIN: 2vh 0;

    --white: #fff;
    --black: #323135;
    --crystal: #a8dadd;
    --columbia-blue: #cee9e4;
    --midnight-green: #01565b;
    --yellow: #e5f33d;
}

/* || UTILITY CLASSES */
.nowrap {
    white-space: nowrap;
}

/* || GENERAL STYLES */
html {
    scroll-behavior: smooth;
    background-color: var(--WSM);
}

.main {
    color: var(--NAVY-BLUE);
    height: fit-content;
    max-height: none;
}

.main__article {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

/* || HEADER */
.header {
    background-color: var(--WSM);
    color: var(--BLACK);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    /* height: var(--HEADER-HEIGHT); */
    padding: 2vh 0;
    box-shadow: 0px 2px 5px var(--DARK-GREY);
}

.header__h1 a {
    color: var(--NAVY-BLUE);
    font-family: var(--FF);
    font-size: 1.5rem;
    font-weight: var(--HEADER-FW);
    text-decoration: none;
    margin-left: var(--HEADER-LRMARGIN);
}

.header__nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-right: var(--HEADER-LRMARGIN);
}

.header__nav ul {
    list-style-type: none;
    display: flex;
}

.header__nav ul li {
    margin: 0.5rem;
}

.header__nav ul li a {
    font-family: var(--FF);
    font-size: 1.25rem;
    color: var(--NAVY-BLUE-FD);
    text-decoration: none;
}

.header__nav a:hover,
.header__nav a.active {
    color: var(--NAVY-BLUE);
}

.header__button {
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    transition: background-color 0.3s,
                border 0.3s;
}

@keyframes showMenu {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

.header__icon,
.header__icon::before,
.header__icon::after {
    display: none;
    background-color: var(--BLACK);
    width: 20px;
    height: 2px;
    border-radius: 3px;
    position: absolute;
    transition: all 0.5s;
}

.header__icon::before,
.header__icon::after {
    content: "";
}

.header__icon::before {
    transform: translateY(-7px)
}

.header__icon::after {
    transform: translateY(7px)
}

.header__button.active .header__icon {
    background-color: transparent;
}

.header__button.active .header__icon::before {
    transform: rotate(45deg)
}

.header__button.active .header__icon::after {
    transform: rotate(-45deg)
}

/* || INTRODUCTION IMAGE */
.intro__fig {
    position: sticky;
}

.intro__h2 {
    color: whitesmoke;
    text-shadow: 1px 1px 2px var(--BLACK);
    position: absolute;
    font-size: calc(3vh + 3vw);
    font-family: var(--FF);
    right: 15vw;
    top: 50%;
    transform: translateY(-100%);
    text-decoration: none;
    font-weight: 400;
}

/* || MAIN */
.about {
    margin: var(--MAIN-MARGIN);
    font-family: var(--FF);
}

.about__text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-self: center;
    gap: var(--MAIN-GAP)
}

.about__text h2 {
    font-size: 3rem;
    align-self: self-start;
    font-weight: var(--HEADER-FW);
}

.about__text hr {
    border: none;
    border-top: 1px solid var(--LIGHT-BLACK);
    width: 400px;
    align-self: self-start;
}

.about__text p {
    text-align: justify;
    width: var(--MAIN-ARTICLE-WIDTH);
    max-width: none;
    font-size: 18px;
}

.about__portrait {
    position: relative;
    max-width: var(--MAIN-PORTRAIT-WIDTH);
    height: auto;
    align-self: top;
    justify-self: center;
}

.about__portrait figure img {
    border-radius: 15px;
}

/* || CONTACT */
.contact {
    font-family: var(--FF);
    font-size: 18px;
    background-color: rgba(239, 239, 239);
}

.contact__form {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: var(--MAIN-GAP);
    margin: var(--MAIN-MARGIN);
}

.contact__form li {
    text-align: left;
    margin-bottom: var(--MAIN-GAP);
}

.contact__form li:first-child {
    text-align: justify;
}

.contact__form li:last-child {
    margin-bottom: - var(--MAIN-GAP);
}

.contact__form h2 {
    font-size: 3rem;
    align-self: self-start;
    font-weight: var(--HEADER-FW);
}

.contact__form hr {
    border: none;
    border-top: 1px solid var(--LIGHT-BLACK);
    width: 400px;
    align-self: self-start;
}

.form {
    margin-left: 2vw;
    margin-right: 2vw;
}

.contact__fieldset {
    border: none;
    display: flex;
    flex-direction: row nowrap;
    column-gap: 1vw;
    background-color: rgba(245, 245, 245, 0);
}

.contact__fieldset legend {
    margin-bottom: 1vh;
}

.contact__p {
    display: flex;
    flex-flow: column nowrap;
    gap: 2px;
    margin-bottom: 1vh;
}

.contact__p input,
.contact__p textarea {
    padding: 10px;
    border: 1px solid var(--DARK-GREY);
}

.contact__fieldset label {
    font-size: 15px;
}

.contact__fieldset .half {
    width: 50%;
}

.contact__required {
    color: var(--NAVY-BLUE-FD);
    font-size: 12px;
}

.contact__button {
    padding: 20px 30px;
    background-color: var(--NAVY-BLUE);
    color: var(--WSM);
    font-size: 18px;
    border: none;
}

/* || FOOTER */
.footer {
    font-family: var(--FF);
    background-color: var(--NAVY-BLUE);
    color: var(--WSM);
    width: 100%;
    bottom: 0;
    left: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: var(--FOOTER-MARGIN);
}

/* || CV */
.cv {
    font-family: var(--FF);
    font-size: 18px;
    flex-flow: column nowrap;
    /* margin: var(--FOOTER-MARGIN); */
    color: var(--NAVY-BLUE)
}

.cv h2 {
    font-size: 2rem;
    align-self: center;
    margin: 1vh auto 0;
}

.cv hr {
    width: 80%;
    align-self: center;
    margin: 1vh auto;
    border-color: var(--NAVY-BLUE);
}

.cv__section {
    background-color: var(--NAVY-BLUE);
    color: var(--WSM);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
    padding: var(--FOOTER-MARGIN);
}

.cv__section h1 {
    font-size: 4rem;
}

.cv__section p {
    font-size: 2rem;
    font-weight: 300;
}

.phd {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 var(--MAIN-LRMARGIN);
}

.phd p {
    align-self: center;
    text-align: justify;
    margin-bottom: 1vh;
}

.phd .logo--container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    margin-bottom: 1vh;
}

.phd .logo--container img {
    width: 70%;
    height: auto;
}

.exp {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 var(--MAIN-LRMARGIN);
    color: var(--NAVY-BLUE);
}

.exp__timeline {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
}
  
.timeline__component {
    margin: 0 20px 20px 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.timeline__component h3 {
    align-self: flex-start;
}

.timeline__component h4 {
    color: var(--NAVY-BLUE-FD)
}
  
.timeline__component--bg {
    padding: 1.5em;
    background: var(--LIGHT-GREY);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    justify-content: flex-start;
    gap: 0.75vh;
}

.timeline__component--bottom {
    margin-bottom: 0;
}
  
.timeline__middle {
    position: relative;
    background-color: var(--NAVY-BLUE);
}
  
.timeline__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: var(--NAVY-BLUE);
    border-radius: 50%;
}
  
.timeline__point--bottom {
    top: initial;
    bottom: 0;
}

.timeline__date,
.timeline__date--right {
    flex-shrink: 0;
}
  
.timeline__date--right {
    text-align: right;
}
  
.timeline__title {
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
}
  
.timeline__paragraph {
    line-height: 1.5;
}

.timeline__component .logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 1vh 0;
}

.logo--right {
    justify-content: flex-end;
}

.timeline__component .logo img {
    height: 14vh;
}

.edu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 var(--MAIN-LRMARGIN);
}

.edu__timeline {
    position: relative;
    white-space: nowrap;
    padding: 0 10px;
    margin: 0 auto;
    display: grid;
}
  
.edu__timeline ol {
    font-size: 0;
    padding: 250px 0;
    overflow-x: scroll;
}
  
.edu__timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 160px;
    height: 5px;
    background: var(--NAVY-BLUE);
    scroll-snap-align: start;
}
  
.edu__timeline ol li:last-child {
    width: 340px;
}
  
.edu__timeline ol li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: var(--NAVY-BLUE);
    z-index: 1;
}
  
.edu__timeline ol li div {
    position: absolute;
    left: calc(100% + 7px);
    width: 280px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: var(--NAVY-BLUE-FD);
    background: var(--LIGHT-GREY);
    border-radius: 0 10px 10px 10px;
}

.edu__timeline ol li div strong {
    color: var(--NAVY-BLUE);
}
  
.edu__timeline ol li div::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
}
  
.edu__timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
    border-radius: 10px 10px 10px 0;
}
  
.edu__timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: var(--LIGHT-GREY) transparent transparent transparent;
}
  
.edu__timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
}
  
.edu__timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent var(--LIGHT-GREY);
}
  
.edu__timeline time {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--NAVY-BLUE);
}

/* || PHOTOGRAPHY */
.photography {
    font-family: var(--FF);
    font-size: 18px;
    flex-flow: column nowrap;
    color: var(--NAVY-BLUE);
    margin: 2vh var(--MAIN-LRMARGIN);
}

.gallery__header {
    display: flex;
    flex-flow: column nowrap;
    gap: 2vh;
}

.gallery__header h2 {
    align-self: center;
}

.gallery__header ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.gallery__header ul li a {
    font-family: var(--FF);
    font-size: 1.25rem;
    color: var(--NAVY-BLUE-FD);
    text-decoration: none;
}

.gallery__header a:hover,
.gallery__header a.active {
    color: var(--NAVY-BLUE);
    border-bottom: var(--NAVY-BLUE) 1px solid;
    text-decoration: none;
}

.gallery__photo {
    margin: 2vh 0;
}

.gallery__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid__item {
    background-size: cover !important;
    -webkit-background-size: cover !important;
    width: 100%;
    padding-bottom: 125%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 10px;
}

.grid__item:nth-child(5) {
    background-position: center 50%;
}

.grid__item:hover {
    opacity: 0.7;
}

.full-width {
    grid-column: span 3;
    padding-bottom: 50%;
}

.grid__item:nth-child(7) {
    background-position: center 60%;
}

/* || MEDIA */
@media screen and (max-width: 769px) {

    .header__nav ul {
        display: none;
        flex-direction: column;
        justify-content: stretch;
        width: 100%;
        position: fixed;
        top: calc(var(--HEADER-HEIGHT) - 1.5vh);
        left: 0;
        background-color: var(--WSM);
        padding-left: calc(var(--HEADER-LRMARGIN) + 2vw);
    }

    .menu__active .intro__fig {
        margin-top: 16vh;
    }

    .header__button:hover {
        background-color: var(--LIGHT-GREY);
        border: 1px solid var(--BLACK);
    }

    .header__icon,
    .header__icon::before,
    .header__icon::after {
        display: block;
    }

    .header__nav ul.active {
        display: flex;
        flex-flow: column nowrap;
    }

    .main__article {
        flex-direction: column;
        align-items: center;
    }

    .about__text {
        width: 100%;
        margin-bottom: 2rem;
    }

    .about__text p {
        width: fit-content;
        font-size: 16px;
    }

    .about__portrait {
        width: 60%;
        max-width: none;
        margin: 0 auto;
        height: auto;
    }

    .about__portrait img {
        width: 100%;
        height: auto;
        top: 0;
    }

    .footer {
        position: sticky;
    }
}

@media screen and (max-width: 481px) {
    .intro__h2 {
        right: 15vw;
        top: 50%;
        transform: translateY(-100%);
        text-shadow: none;
        font-size: calc(2vh + 2vw);
    }

    .about__text h2 {
        font-size: 2rem;
    }

    .about__text hr {
        width: 30vw;
    }

    .about__text p {
        font-size: 14px;
    }

    .contact {
        font-size: 16px;
    }

    .contact__form h2 {
        font-size: 2rem;
    }

    .contact__form hr {
        width: 30vw;
    }

    .contact__fieldset label {
        font-size: 13px;
    }
    
    .contact__required {
        font-size: 10px;
    }
    
    .contact__button {
        padding: 15px 25px;
        font-size: 16px;
    }
}